DATABASE_USER=pulsewatch
DATABASE_PASSWORD=replace-with-a-strong-local-password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-a-strong-admin-password
COLLECTOR_INTERVAL_MS=30000
COLLECTOR_TIMEOUT_MS=3000
COLLECTOR_RETRIES=1
COLLECTOR_RETRY_DELAY_MS=250
ALERT_LATENCY_THRESHOLD_MS=1500
INCIDENT_AFTER_MINUTES=2
